.exhibition {
    &__card {
        margin: 1rem;
        max-width: 15rem;
    }
    &__image {
        height: 20rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        
    }
    &__text {
        margin: 1rem 0;
        text-align: left;
        line-height: 1rem;
        &--title {
            font-weight: bold;
        }
        &--extitle {
            font-weight: bold;
            font-size: 40px;
        }
        &--body {
            font-size: 11px;
            p {
                margin: 0;
            }
        } 
        // p + p {
        //     margin: 0;
        //     padding: 0;
        // }
    }
    &__cards {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
}
